*{
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
}

body {
    background: #00bea3;
    padding-top: 50px;
}

.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.post-list > ul {
    margin: 0 auto 15px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    border: 2px solid #1f887e;
    border-radius: 20px;
    background: #5fd4c9;
}

.post-list > ul li {
    padding: 5px 10px
}

.post-list button {
    padding: 0;
    border-radius: 20px;
    border: 2px solid #f37b3b;
    background: #f6a57c;
    height: 50px;
    width: 90vw;
    cursor: pointer;
    margin-bottom: 15px ;
}

.post-list button a {
    padding: 10px;
    display: inline-block;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}

.comments-wrapper {
    padding: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.comments-wrapper > div {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #1f887e;
    background: #5fd4c9;
    width: 400px;
}