
.user-container {
    display: flex;
    margin: 0 auto;
    width: 80vw;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.user-block {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    text-align: center;
    width: 40%;
}