* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
}

body {
    background: #00bea3;
}

.user-container {
    padding-top: 50px;
    display: flex;
    margin: 0 auto;
    width: 80vw;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.user-block {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #5fd4c9;
    border-radius: 20px;
    border: 2px solid #1f887e;
    text-align: center;
    width: 40%;
}

.user-block > a {
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
}

.user-block button {
    cursor: pointer;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #f37b3b;
    background: #f6a57c;
}