*{
    box-sizing: border-box;
}

.user-info-wrapper {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.user-info-wrapper > button {
    height: 50px;
    width: 90vw;
}

.posts-container{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
.posts-container > div{
    padding: 10px;
    border: 1px solid;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    width: 280px;
}